* {
    margin: 0;
    padding: 0;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*header*/
header{
    height: 55px;
    background: rgb(180, 174, 164);
}

.header_info{
    padding-top: 15px;
}

.header_info_text{
    display: inline;
    text-decoration: underline;
    margin-left: 4%;
}

.header_info_text:hover{
    text-decoration: none;
    cursor: pointer;
}



/*logo, search, basket*/
.logo_search_basket_wrapper{
    border-bottom: 1px solid rgb(151, 141, 141);
    height: 100px;
    
}

.logo_search_basket{
    display: flex;
}

.logo_pic{
    display: inline-block;
}

.search_block{
    display: inline-block;
    margin-left: 5%;
    margin-top: 3%;
}

.logo_image{
    height: 80px;
    margin-top: 10px;
    margin-left: 5%;
}

.search{
    height: 30px;
    width: 400px;
    font-size: large;
    padding: 5px;
}

.basket_block{
    margin-left: 5%;
    margin-top: 3%;
}

.basket_button{
    height: 30px;
    width: 120px;
    font-size: large;
    padding: 5px;
}

/*Categories*/
.categories{
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 2px solid rgb(233, 0, 0);
}

.categories_text{
    display: inline;
    margin-left: 4%;
}

.categories_text:hover{
    cursor: pointer;
    border: 1px solid rgb(233, 0, 0);
    background: rgb(233, 0, 0);
    padding: 5px; 
    border-radius: 50px 50px;
    color: white;
    transition-duration: 0.3s;
}

/*instruments sale*/
.instrument_sale_heading{
    font-size: 30px;
    margin-top: 3%;
    text-align: center;
}


.instrument_sale_choice_panel{
    display: inline-flex;
    border: 1px solid rgb(117, 40, 37);
    background: rgb(117, 40, 37);
    border-radius: 50px 50px;
    margin-left:40%;
    margin-top: 2%;
}

.instrument_sale_choice_panel_item{
    padding: 5px;
    color: white;
}

.instrument_sale_choice_panel_item:hover{
    border: 1px solid rgb(255, 8, 0);
    background: rgb(255, 8, 0);
    border-radius: 50px 50px;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

/*slider*/
.instrument_slider_page_wrapper{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid rgb(151, 141, 141);;
    height: 500px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.instrument_slider_page{
    display: flex;
}

.instrument_slider_page_items{
    display: inline;
    color: black;
    width: 250px; 
    height: 500px;
    text-align: center;

}

.instrument_slider_page_items:hover{
    border: 1px solid rgb(165, 0, 0);
    cursor: pointer;
}


.sale_pic{
    width: 200px; 
    height: 300px;
}

/* sale slider text*/
.sale_item_text_name{
    text-decoration: underline;
}

.sale_item_text_description{
    margin: 0 auto;
    margin-top: 5%;
    width: 70%;
    font-size: small;
}

/*price*/
.sale_item_text_price{
    margin: 0 auto;
    display: flex;
    margin-top: 10%;
}

.crossed_price{
    font-size: large;
    margin-right: 5%;
    margin-left: 25%;
}

.real_price{
    color: rgb(233, 0, 0);
    font-size: x-large;

}

/*adv block*/
.adv_block_wrapper{
    display: flex;    
}

.adv_block{
    display: inline-flex;
    margin: 0 auto;
}


.adv_block_text{
    text-transform: uppercase;
    text-decoration: underline;
    padding: 20px;
}

.adv_block_text:hover{
    cursor: pointer;
    text-decoration: none;
}

/*service*/
.service_block_wrapper{
    width: 1000px;
    margin: 0 auto;
    height: 400px;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid rgb(151, 141, 141);

}

.instrument_slider_page{
}

.service_block_heading{
    font-size: xx-large;
}

/*grid*/
.service_block_grid {
    background: #fff;
    display: grid;
    grid-gap: 10px;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    height: 400px;
}

.service_block_grid .service_block_grid_item {
    display: grid;
    place-items: left;
    padding: 30px;
}

/*grid content*/
.service_pic{
    width: 50px;
    height: 50px;
}

.name_of_service{
        margin-top: 5px;
        width: 120px;
        font-size: larger;
        color: red;
        text-decoration: underline;
}

.name_of_service:hover{
    text-decoration: none;
    cursor: pointer;
}

.service_pic_plus_name{
    display: inline-flex;
}

.description_of_service{
    margin-top: 10px;
    font-size: small;
    color: rgb(151, 141, 141);
}


/* sales info block*/
.sales_slider_wrapper{
    margin-top: 3%;
    display: flex;

}

.sales_slider{
    margin: 0 auto;
    display: inline-flex;
    margin-left: 10%;
    margin-right: 10%;

}

.sales_slider_item{
    display: flex;
    margin-right: 20px;
    background: rgb(206, 197, 197);

}

.sales_pic_part{

}

.sales_text_part{
    padding: 15px;
    width: 50%;
}

.sales_text_part_name{
    font-size: larger;
    color: rgb(233, 0, 0);
    text-decoration: underline;
}

.sales_text_part_name:hover{
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}

.sales_text_part_decsription{
    padding-top: 5px;
    font-size: small;
    color:rgb(68, 64, 64);
}

.sales_pic{
    display: block;
    max-width: 100%;
    max-height: 100%;
}


/* footer */
footer {
    margin-top: 2%;
    height: 250px;
    background: rgb(180, 174, 164);
}

.footer_grid_wrapper{
    display: grid;
    gap: 10px;
    grid-template-columns: 300px 300px 500px
}

.footer_grid_box{
    display: grid;
    place-items: left;
    padding: 20px;
}


.footer_info_grid_wrapper{
    display: grid;
    gap: 10px;
    grid-template-columns: 150px 150px 150px
    
}

.footer_grid_wrapper  p{
    font-size: small;
}

.footer_info_grid_box{
    display: grid;
    place-items: left;
    gap: 10px;
    text-decoration: underline;

}